
<div class="liveticker-body" data-ticker-id="{{ channel }}">
  <ul class="liveticker-list">
    <li id="liveticker-template" style="visibility: hidden;">
      <h2 class="liveticker-time">
        <span class="time-hour">10</span>
        <span class="time-minute">:19</span>
      </h2>
      <div class="liveticker-text">
        <h2 class="liveticker-item-title medium">title</h2>
        <p class="liveticker-item-body">body</p>
      </div>
      <div class="btn-group">
        <button type="button" class="liveticker-btn-del btn btn-danger">löschen</button>
        <button type="button" class="liveticker-btn-edit btn btn-warning">ändern</button>
      </div>
    </li>
  </ul>
</div>
